@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #A888B5;
  --color-secondary: #EFB6C8;
  --color-accent: #FFD2A0;
  --color-background: #8174A0;
}

body {
  color: var(--color-accent);
  background: var(--color-background);
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
}
